.navbar-toggler, .navbar {
    border: none;
    background: transparent !important;
    z-index: 1050;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.nav-container {
  display: inline-block;
  position: relative;
}

.nav-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.nav-container:hover::before {
  width: 100%;
}

#menu-icon {
  transition: transform 0.3s;
}

#menu-icon.flip {
  transform: rotate(-90deg);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.machine-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.machine-link:hover {
  color: #007bff;
}

.btn {
  margin-right: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}

.btn-primary,
.btn-primary:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  filter: brightness(90%);
}



