@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">
    <h2>Add an Engineer</h2>

    <form method="post" class="form">
        @Html.HiddenFor(model => model.MachineId)

        <div class="form-group">
            <label for="EngineerId">Engineer</label>
            @Html.DropDownList("EngineerId", null, "-- Select Engineer --", new { @class = "form-control" })
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <div class="mt-3">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
