@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to delete this machine?</h2>

@Html.DisplayNameFor(model => model.MachineType): @Html.DisplayFor(model => model.MachineType)

@using (Html.BeginForm())
{
  <br>
  <input type="submit" value="Delete" />
}
<br>
<p>@Html.ActionLink("Back to machine list", "Index", "Machines", null, new { @class = "btn btn-primary" })</p>