@{
  Layout ="_Layout";
}

@using Factory.Models;

<div class="container">
  <h1 class="my-4">Machines</h1>

  @if (@Model.Count == 0)
  {
    <h3>No Machines have been added yet!</h3>
  } 

  <ul class="list-group mb-4">
    @foreach(Machine machine in Model)
    {
      <li class="list-group-item">
        @Html.ActionLink($"{machine.MachineType}", "Details", new { id = machine.MachineId }, new { @class = "machine-link" })
      </li>
    }
  </ul>

  <p>@Html.ActionLink("Add a new machine", "Create", "Machines", null, new { @class = "btn btn-primary mb-2" })</p>
  <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-secondary" })</p>
</div>
