@{
    Layout = "_Layout";
}

@model IEnumerable<Factory.Models.Engineer>

<div class="container">
  <h1 class="my-4">Engineers</h1>

  @if (Model.Count() == 0)
  {
    <h3>No Engineers have been added yet!</h3>
  }

  <ul class="list-group mb-4">
    @foreach (var engineer in Model)
    {
      <li class="list-group-item">
        @Html.ActionLink($"{engineer.EngineerFName} {engineer.EngineerLName}", "Details", new { id = engineer.EngineerId }, new { @class = "engineer-link" })
      </li>
    }
  </ul>

  <p>@Html.ActionLink("Add a new engineer", "Create", "Engineers", null, new { @class = "btn btn-primary mb-2" })</p>
  <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-secondary" })</p>
</div>
